* {
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
}

.main {
  background: rgb(237, 237, 237);
  min-height: 100vh;

}

.main-background {
  display: grid;
  justify-items: center;
}

.container {
  width: 1200px;
  padding: 10px;
}

.shopping-basket-container {
  background: white;
  padding: 10px;
}

.nav-panel {
  background: rgb(63, 178, 254);
  display: flex;
  align-items: end;
  width: 100%;
  justify-content: flex-end;
  height: 7vh;
}

.nav-button {
  width: 15%;
  height: 100%;

}

.nav-button:hover {
  background: rgb(120, 199, 251);
}

.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.product {
  padding: 15px;
  border: 1px solid black;
  border-radius: 1%;
  display: grid;
  gap: 20px;
  background: white;
}

.button-add {
  padding: 5px;
}

.selected-products {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 10px;
}

.product-basket-info {
  display: grid;
  gap: 20px;
  width: 100%;
}

.items-container {
  width: 100%;
  display: grid;
  gap: 10px;
}

.quantity {
  display: flex;
  width: 150px;
  justify-content: space-between;
}

.product-details-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.more {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}